# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secrets & Credentials
*.json
!package.json
!package-lock.json
!tsconfig.json
!jsconfig.json

# Build
dist/
build/
.next/
out/

# OS
.DS_Store
Thumbs.db
